# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.db

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Environment
.env.example

# Docker
Dockerfile
docker-compose.yml
.dockerignore